@import "tailwindcss";
/* @import url("fonts/Buenos/stylesheet.css"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-lexend);
}

button {
  cursor: pointer;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */