@import "tailwindcss";
/* @import url("fonts/Buenos/stylesheet.css"); */

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
  font-family: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  font-family: var(--font-lexend);
}

button {
  cursor: pointer;
}

.animated-gradient {
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 50%, #a8edea 100%);
  background-size: 200% 200%;
  animation: animated-gradient-wave 7s ease-in-out infinite;
}


@keyframes animated-gradient-wave {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */